body {
    background-color: #33ae54;
}

header {
    background-color: #fff;
}

header h1 {
    margin: 10px;
}

.form-popup {
     display: none;
}

#shelf {
    color: black;
    border: black solid 5px;
}

   
    /* position: fixed;
    bottom: 0;
     */
    /* z-index: 9;
}