body {
  background-color: #33ae54;
  display: grid;
  margin: 0;
}

.header {
  background-color: #343934;
  color: white;
  margin-top: 0px;
  padding-left: 40px;
  font-size: 1em;
}

#new-book-butt {
  border-radius: 5px;
  border: none;
  background-color: rgb(32, 144, 204);
  color: white;
  padding: 10px;
  margin: 15px;
  margin-top: 30px;
  width: 500px;
  justify-self: center;
}
#new-book-butt:focus,
#new-book-butt:hover {
  background-color: rgb(22, 102, 145);
}

.form-popup {
  display: none;
  border: black outset 1px;
  border-style: outset;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
  height: 500px;
  width: 300px;
  box-shadow: 10px 5px 5px gray;
}

.form-popup input {
  width: 90%;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: inline-block;
  padding: 3px;
}

.form-popup label {
  margin-left: 15px;
}

.form-popup h1 {
  text-align: center;
}

.form-popup button {
  width: 90%;
  position: relative;
  left: 15px;
  margin-bottom: 15px;
}

.form-popup input[type="checkbox"] {
  position: relative;
  right: 100px;
}

#shelf {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px;
}
.spine-div {
  border: black solid 2px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr;
}

.spine-div p:first-of-type {
  font-weight: 700;
  font-size: 1em;
}

.spine-div button {
  border-radius: 5px;
  height: 40px;
  background-color: rgb(181, 173, 173);
  margin: 5px;
  font-weight: 600;
  margin-bottom: 10px;
}

.spine-div .toggle {
  padding-top: 10px;
  padding-bottom: -1px;
}

.spine-div .remove-btn {
  background-color: rgb(213, 78, 78);
}
